.navbar {
    background-color: #0d0a0b;
    background: linear-gradient(0deg, #011502 31%, #012328 97%);
}
.nav-link{
    color: #F7FFF7;
    font-weight: 200;
    font-size: small;
    transition: font-size 0.2s;
}
.nav-link:hover{
    color: #F7FFF7;
    font-size: medium;
}
