<div class="row  m-0">
    <div class="col-6">
        <app-onboard-image></app-onboard-image>
    </div>
    <div class="col-6 reset-form">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
                <div class="col-8 p-2  rounded ">
                    <div class="d-flex ">
                        <div class="mx-auto">
                            <h5 class="m-2 mx-5">{{title}}</h5>
                        </div>

                    </div>
                    <div class="m-2" style="height: 80px;">
                        <b><small><label class="form-label text-info" for="password ">Password</label></small></b>
                        <input type="password" class="form-control rounded-0 register" placeholder="Enter Password"
                        name="password" id="password" formControlName="password" kendoPopoverAnchor
                        [popover]="passwordvalidationinfo" #anchor="kendoPopoverAnchor" showOn="focus" />
                        <kendo-popover #passwordvalidationinfo [width]="185">
                            <ng-template kendoPopoverBodyTemplate>
                                <div class="d-flex mx-auto">
                                    <div class="mx-auto  mb-1">
                                        <b><span class="text-info mx-auto ">Required Format</span></b>
                                    </div>
                                </div>

                                <span class="d-block h6 border-0 popover-text password-validation-span"
                                    [ngClass]="{'text-success': password?.value?.match('^(?=.*[A-Z])')}">
                                    At least one uppercaseletter
                                </span>
                                <span class="d-block h6 border-0 popover-text password-validation-span"
                                    [ngClass]="{'text-success': password?.value?.match('(?=.*[a-z])')}">
                                    At least one lowercase letter
                                </span>
                                <span class="d-block h6 border-0 popover-text password-validation-span"
                                    [ngClass]="{'text-success': password?.value?.match('(.*[0-9].*)')}">
                                    At least one number
                                </span>
                                <span class="d-block h6 border-0 popover-text password-validation-span"
                                    [ngClass]="{'text-success': password?.value?.match('(?=.*[!@#$%^&*])')}">
                                    At least one special character
                                </span>
                                <span class="d-block h6  border-0 popover-text password-validation-span"
                                    [ngClass]="{'text-success': password?.value?.match('.{8,}')}">
                                    At least 8 characters long
                                </span>
                            </ng-template>

                        </kendo-popover>

                        @if (password?.errors?.['required'] && (password?.touched || password?.dirty)) {
                            <b><small class="text-danger warning-text" >*Password field is required</small></b>
                        }
                        @if (password?.errors?.['pattern']) {
                            <b><small class="text-danger warning-text">*Password field is not in required format</small></b>
                            }

                    </div>
                    <div class="m-2" style="height: 80px;">
                        <b><small><label class="form-label text-info" for="password ">Password Confirmation</label></small></b>
                            <input type="password" class="form-control rounded-0 "
                            placeholder="Enter Confirm Password" name="password_confirmation"
                            id="password_confirmation"
                            formControlName="password_confirmation" >


                        @if (password_confirmation?.errors?.['required'] && (password_confirmation?.touched || password_confirmation?.dirty)) {
                            <b><small class="text-danger warning-text" >*Password Confirmation field is required</small></b>
                        }
                        @if(password?.value && password_confirmation?.value  ){
                            @if(!(password?.value| textmatch:password_confirmation?.value)){
                                <small class="text-danger warning-text"><b>Passwords Do Not Match</b></small>
                            }
                        }
                    </div>
                    <div class="center-container col-12">
                        <input type="submit"
                        class="form-control btn btn-info text-dark submitbtn rounded-0 m-2"
                        id="password_submit" [disabled]="!(this.resetForm.invalid || password?.value| textmatch:password_confirmation?.value)" >
                    </div>
                    <div class="center-container">
                        <p>Back To <a routerLink="/login" class="text-info">Login</a></p>
                    </div>
                </div>



        </form>
    </div>
</div>
