<div class="grid-container">
  <kendo-grid
  [data]="gridView"
  [height]="500"
  [pageSize]="take"
  [skip]="skip"
  [pageable]="isPageable"
  (pageChange)="pageChangeHandler($event)"
  [filterable]="true"
  [filter]="filter"
  (filterChange)="filterChange($event)"
  [groupable]="true"
  [group]="groups"
  (groupChange)="groupChange($event)"
  [sortable]="false"
  [sort]="sort"
  (sortChange)="sortChange($event)"
  [loading]="gridLoading"
  >
  <!-- <kendo-grid-checkbox-column
  [showSelectAll]="true"
  [width]="40"
></kendo-grid-checkbox-column> -->
  <!-- (remove)="removeHandler($event)" -->
  <kendo-grid-column
      field="invoice_id"
      [headerStyle]="{'font-weight': 'bold'}"
      title="Invoice ID"
      [filterable]="false"
      [width]="130"
      >
      <ng-template kendoGridCellTemplate let-gridView>
          {{'INV_0' + gridView.id}}
      </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
      field="worker_id"
      [headerStyle]="{'font-weight': 'bold'}"
      title="Worker ID"
      [width]="100"
      >
  </kendo-grid-column>

  <kendo-grid-column
      field="worker_name"
      [headerStyle]="{'font-weight': 'bold'}"
      title="Worker Name"
      [width]="150"
      >
  </kendo-grid-column>

  <kendo-grid-column
      field="total_amount"
      [headerStyle]="{'font-weight': 'bold'}"
      title="Total Amount (£)"
      type="numeric"
      [style]="{ 'text-align': 'right' }"
      [width]="145"
      >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{ dataItem.total_amount }}</span>
      </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
      field="organisation"
      [headerStyle]="{'font-weight': 'bold'}"
      title="Organisation"
      [width]="130"
      >
  </kendo-grid-column>

  <kendo-grid-column
      field="created_at"
      [headerStyle]="{'font-weight': 'bold'}"
      title="Invoice Date"
      [width]="150"
      >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.created_at | date:'dd-MM-yyyy' }}
      </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
  field="generated_status"
  [headerStyle]="{'font-weight': 'bold'}"
  title="PDF Status"
  [width]="120"
  filter="boolean"
  >
  <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
    <kendo-dropdownlist
    [data]="[{ text: 'All', value: null },
             { text: 'Generated', value: true },
             { text: 'Not Generated', value: false }]"
    [textField]="'text'"
    [valueField]="'value'"
    (valueChange)="filterChange($event)"
    >
    </kendo-dropdownlist>
  </ng-template>
  <ng-template kendoGridCellTemplate let-dataItem>
    @if(dataItem.generated_status == 1){
      {{"PDF Generated"}}
    }
  </ng-template>
</kendo-grid-column>

  <kendo-grid-column title="Actions"
  [headerStyle]="{'font-weight': 'bold'}"
      [reorderable]="false"
      >
      <ng-template kendoGridCellTemplate let-isAdd="isNew" let-dataItem  >
          <div class="align-middle">
              <button *ngIf="dataItem.generated_status===null || dataItem.generated_status===0" (click)="generatePdf(dataItem.id)" class="action-button me-2" title="Click to Generate Invoice"><i class="fa-regular fa-file-pdf"></i></button>
              <button *ngIf="dataItem.generated_status" (click)="viewPdf(dataItem.id)" class="action-button me-2" title="Click to view Invoice"><i class="fa-solid fa-eye"></i></button>
              <button *ngIf="dataItem.generated_status" (click)="downloadPdf(dataItem)" class="action-button me-2" title="Click to download Invoice"><i class="fa-solid fa-download"></i></button>
              <button *ngIf="dataItem.generated_status" (click)="sendMail(dataItem)" class="action-button me-2" [disabled]="isDisabled[dataItem.id]" title="Click to mail Invoice"><i class="fa-solid fa-envelope"></i></button>

              <!-- Delete button -->
              <button type="button" class="action-button me-2" title="Click to Delete Invoice" data-bs-toggle="modal" data-bs-target="#deletepdfModal" (click)="deletePdfId(dataItem.id)">
                <i class="fa-solid fa-trash"></i>
              </button>

              <!-- Deleted PDF Invoice Modal -->
              <div class="modal fade" id="deletepdfModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletepdfModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-dialog-centered ">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deletepdfModalLabel">Delete Invoiced PDF</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to Delete this Invoice?
                    </div>
                    <div class="modal-footer">
                      <!-- <p>{{selectedItemId}}</p> -->
                      <!-- kendoGridRemoveCommand -->
                      <button type="button" (click)="onDeleteInvoice(selectedItemId)" class="btn btn-dark " data-bs-dismiss="modal">Yes</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>

          </div>

      </ng-template>
  </kendo-grid-column>
</kendo-grid>
<app-loader [isLoading]="isLoading"></app-loader>
</div>
