<div class="container">
    <div class="row justify-content-end m-0">
        <div class="col-8 mt-4" method="post">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" >
                <div class="col-7 p-2">
                    <div class="col-8 mx-auto my-2">
                        <h5 class="m-4">{{title}}</h5>
                    </div>
                    <div class="m-2">
                        <p>Don't worry! Just enter your email address and we'll send you a link to reset your password</p>
                    </div>
                    <div class="m-2" style="height: 80px;">
                        <b><small><label class="form-label text-info" for="email ">Email Address</label></small></b>
                        <input type="text" class="form-control rounded-0 "
                        placeholder="Enter Email Address" name="email" id="email"
                        formControlName="email">
                        @if (email?.errors?.['required'] && (email?.touched || email?.dirty)) {
                            <b><small class="text-danger warning-text" >*Email field is required</small></b>
                        }
                        @if (email?.errors?.['pattern'] && email?.touched && email?.dirty) {
                            <b><small class="text-danger warning-text">*Invalid Email Address</small></b>
                        }
                    </div>
                    <div class="center-container">
                        <input type="submit" value="Submit"
                        class="form-control btn btn-info text-dark submitbtn rounded-0 m-2"
                        id="password_submit" [disabled]="!(this.forgotForm.valid)" >
                    </div>
                    <div class="center-container">
                        <p>Back To <a routerLink="/login" class="text-info">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <app-loader-login [isLoading]="isLoading"></app-loader-login>
</div>





