<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/timesheet">
        <img src="assets/Logo/invoicify.png" alt="Invoicify  Logo" width="220" style="cursor: pointer;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse me-5" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/timesheet" routerLinkActive="active">TIMSHEETS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/invoices" routerLinkActive="active">INVOICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="loggedout()">LOGOUT</a>
            </li>
        </ul>
    </div>
  </nav>
  